<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: bisque;
        }
        textarea {
            display: block;
  width: 90%;
  height: 90vh;
  border: 2px solid black;
  background-color: lightcyan;
  margin: .5rem auto;
 
}
    </style>
</head>
<body>
    <textarea name="text" id="text" cols="30" rows="50">
        <%= show %>
    </textarea>
</body>
</html>